src/BookStore.Domain/obj/*
src/BookStore.Domain/bin/*
src/BookStore.Domain.Core/obj/*
src/BookStore.Domain.Core/bin/*
src/BookStore.Infrastructure.Data/obj/*
src/BookStore.Infrastructure.Data/bin/*
src/BookStore.Infrastructure.Identity/obj/*
src/BookStore.Infrastructure.Identity/bin/*
src/BookStore.Application/obj/*
src/BookStore.Application/bin/*